@font-face {
    font-family: Roboto-Medium;
    src: url(./resources/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(./resources/fonts/Roboto-Regular.ttf);
}

:root {
    /* colors */
    --color-blue: #075985;
    --color-blue-ligth: #A5F3FC;
    --color-gray: #E5E7EB;
    --color-primary: #111827;
    --color-secundary: #6B7280;
    --color-white: #F3F4F6;
    --gradient-header: linear-gradient(90deg, #075985 34%, #0891B2 92%);
    /* fonts */
    --font-family-title: Roboto-Medium;
    --font-family-base: Roboto-Regular;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

/* Helpers */

.pl4 {
    padding-left: 10%;
}

.pt5 {
    padding-top: 5%;
}

.shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

body {
    background-color: var(--color-white);
}

h1,
h2,
h3 {
    color: var(--color-primary);
    font-family: var(--font-family-title);
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.1rem;
}

a {
    text-decoration: none;
}

p,
a,
nav,
a,
li,
input,
td,
tr {
    color: var(--color-primary);
    font-family: var(--font-family-base);
    font-size: 0.95rem;
}

button {
    background-color: white;
    border: 2px solid var(--color-gray);
    border-radius: 10px;
    font-family: var(--font-family-base);
    font-size: 1rem;
    font-weight: 600;
}

/* header | logo and user container one desktop*/
.main_header {
    background: var(--gradient-header);
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 41vh;
    justify-content: flex-start;
    padding: 0% 2%;
}

.container_logo_menu {
    align-items: center;
    display: flex;
    height: 12vh;
    justify-content: space-between;
}

.cont_one {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    height: 50%;
}

.alert {
    margin: 10px;
    width: 8%;
}

.alert:hover {
    filter: brightness(250%);
    cursor: pointer;
}

.user {
    width: 21%;
}

/* header |end |logo and user container one Desktop*/
/*nav | start| menu and searchDesktop */
.header_line {
    background-color: #39A6C0;
    border: none;
    height: 2px;
    width: 100%;
}

.show_on_mobile {
    display: none;
}

.menu {
    align-items: center;
    display: flex;
    height: 11vh;
    justify-content: space-between;
    list-style: none;
}

.category_menu {
    display: flex;
    justify-content: center;
    list-style: none;
}

.txt_menu {
    color: var(--color-white);
    font-family: var(--font-family-base);
    font-size: 1rem;
}

.txt_menu:hover {
    color: var(#A5F3FC);
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: underline;
    font-weight: 600;
}

/*Search and input */
.search_menu {
    display: flex;
    justify-content: space-evenly;
    width: 35%;
}

.menu .search_menu .place_search {
    background-color: rgb(197, 205, 217, 0.1);
    border: none;
    border-radius: 10px;
    height: 5.5vh;
    width: 100%;
    text-indent: 39px;
    color: white;
    outline: none;
    ;
}

.search_img {
    border-right: 2px solid rgb(165, 243, 252, 0.2);
    height: 70%;
    left: 51px;
    padding: 5px;
    position: relative;
    top: 4px;
    width: 64%;
}

.place_search::placeholder {
    color: var(--color-white);
    font-weight: 400;
    text-indent: 40px;
    position: relative;
}

.place_search:hover {
    box-shadow: 0 0 0 2px var(--color-white);
}


/*nav | start| menu and search Desktop */
/* article|start | user information Desktop*/
.nesting_container {
    display: flex;
    justify-content: space-between;
}

.main_container,
.aside {
    padding: 2%;
    margin-top: -137px;
}

.container_user_info {
    background-color: #ffff;
    border-radius: 10px;
}

.user_info {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 23vh;
    justify-content: space-between;
}

.info_img_txt {
    align-items: center;
    display: flex;
    margin-left: 65px;
}

.user_img_info {
    margin: 10px;
    width: 16%;
}

.text_user {
    display: flex;
    flex-direction: row;
}

.txt_title_user {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.button_user {
    margin: 27px;
    padding: 6px;
    width: 121px;
    letter-spacing: 0.7px;
}

.button_user:hover,
.btn_worker_more:hover,
.btn_worker_go:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
}

/* article|end | user information Desktop*/
/*table info user worker = table 1 */
.option_user {
    border-collapse: collapse;
    border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border-style: hidden;
    /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 2px var(--color-gray);
    background-color: white;
    width: 100%;
}

.option_user tr>td {
    border: 2px solid var(--color-gray);
    padding: 2%;
    text-align: center;
    width: 30%;
    cursor: context-menu;
}

/* article |start|info Table work Desktop */
.info_table {
    background-color: #ffff;
    border-radius: 15px;
    position: relative;
    margin-top: 2%;
}

.table_fill {
    border-collapse: collapse;
    border-radius: 20px;
    border-style: hidden;
    /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 2px var(--color-gray);
    /* this draws the table border  */
}

.info_table td {
    border: 2px solid var(--color-gray);
    padding: 30px;
    text-align: left;
}

.icon_table {
    margin: 10px;
    width: 15%;
}

.contracts:hover {
    background-color: var(--color-blue-ligth);
    cursor: alias;
}

.arrow {
    position: absolute;
    width: 25px;
}

.arrow:hover {
    filter: saturate(260);
    cursor: pointer;
}

.arrow_1 {
    left: 46%;
    top: 3%;
}

.arrow_2 {
    left: 95%;
    top: 3%;
}

.arrow_3 {
    left: 46%;
    top: 36%;
}

.arrow_4 {
    left: 95%;
    top: 242px;
}

.arrow_5 {
    left: 46%;
    top: 69%;
}

.arrow_6 {
    left: 95%;
    top: 69%;
}

/* article |start|info Table work Desktop */
/*|start| container notifications */
.container_notifications {
    align-items: center;
    background-color: #ffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.notification,
.worker_container {
    padding: 4% 4% 0% 4%;
}

.notification>*,
.changes>* {
    margin: 3.5% 0%;
}

.container_notifications hr {
    align-items: center;
    background-color: var(--color-gray);
    border: none;
    height: 2px;
    margin: 21px;
    width: 90%;
}

/*aside|end| container notifications */
/*aside|start| container worker */
.btn_worker_more {
    border-radius: 10px;
    letter-spacing: 0.7px;
    margin: 4% 0%;
    padding: 8px;
    width: 100%;
}



.worker {
    background-color: #ffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}

.worker_inner {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.img_txt_worker {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.btn_worker_go {
    border-radius: 50px;
    margin: 10px;
    padding: 2px;
    text-align: center;
    width: 61px;
    letter-spacing: 0.7px;
}

.img_worker {
    margin: 10px;
    width: 15%;
}

.line_worker {
    background-color: var(--color-gray);
    border: none;
    height: 2px;
}

.text_footer {
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 2%;
    text-align: center;
}

/* Responsive Mobile*/
@media (max-width: 800px) {
    .show_on_mobile {
        display: none;
    }
}

@media (max-width: 1023px) {
    body {
        align-items: center;
    }

    h1 {
        text-align: center;
    }

    /* header |start|Logo and user container one Mobile*/
    .main_header {
        height: 27vh;
    }

    .container {
        display: flex;
        flex-direction: row-reverse;
    }

    .user_info {
        flex-direction: column;
        justify-content: center;
        height: 56vh;
    }

    .alert_user {
        align-items: center;
        justify-content: flex-start;
    }

    .logo {
        height: 2.5rem;
        width: 1.1rem;
        margin-right: 198px;
    }

    .container_logo_menu {
        height: 14vh;
    }

    .user {
        width: 30%;
    }

    .alert {
        width: 12%;
    }

    /* header | end| logo and user container one Mobile*/
    /*nav | start| menu and search Mobile */


    .show_on_desktop {
        display: none;
    }

    .show_on_mobile {
        display: flex;
        width: 70%;
    }

    #toggle {
        display: none;
    }

    .hamburger div {
        position: relative;
        width: 2rem;
        height: 7px;
        border-radius: 3px;
        background-color: aliceblue;
        margin-top: 8px;
        transition: all 0.1s ease-in-out;
    }

    .nav {
        position: sticky;
        width: 100%;
        height: fit-content;
        margin-top: -17%;
        background-color: var(--color-white);
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
        transform: scale(0);
        border: 2px solid var(--color-gray);
    }

    .nav-wrapper {
        position: relative;
        height: 100%;
    }

    .menu_responsive {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu_responsive .txt_menu {
        text-decoration: none;
        color: var(--color-primary);
        font-weight: 600;
        letter-spacing: 1px;
    }

    .txt_menu:hover{
        color:#0891B2;
    }

    #toggle:checked+.hamburger .top_hamburger {
        transform: rotate(130deg);
        margin-top: 32px;
    }

    #toggle:checked+.hamburger .bottom_hamburger {
        opacity: 0;
        transform: rotate(50deg);
    }

    #toggle:checked+.hamburger .center_hamburger {
        transform: rotate(50deg);
        margin-top: -7px;
    }

    #toggle:checked+.hamburger+.nav {
        bottom: 33px;
        transform: scale(1);
    }

    /*nav | end | menu and search Mobile */
    /*article|start | user information*/
    .nesting_container {
        flex-direction: column;
    }


    .user_img_info {
        width: 33%;
    }

    .info_img_txt {
        align-items: center;
        flex-direction: column;
        margin: 0;
    }

    .txt_title_user {
        align-items: center;
    }

    /*article | end |user information mobile*/
    /* article |start|info Table work mobile*/
    .info_table {
        bottom: 32%;
    }

    .info_table tr>td {
        text-align: center;
        padding: 8px;
    }

    .icon_table {
        width: 47%;
    }

    .arrow_1 {
        left: 42%;
        top: 2%;
    }

    .arrow_2 {
        left: 89%;
        top: 2%;
    }

    .arrow_3 {
        left: 42%;
        top: 35%;
    }

    .arrow_4 {
        left: 89%;
        top: 35%;
    }

    .arrow_5 {
        left: 42%;
        top: 69%;
    }

    .arrow_6 {
        left: 89%;
        top: 69%;
    }

    /* article|end| info Table work*/
    .container_notifications {
        margin-top: 30px;
    }

    .notification {
        width: 100%;
    }

    .btn_worker_more button {
        width: 95%;
    }
}

@media (max-width: 1024px) {
    .main_header {
        height: 30vh;
    }

    .main_container,
    .aside {
        margin-top: -6%;
    }

    .search_img {
        width: 58%;
    }
}

/*end Responsive Mobile */